/*
 * **************************************************************************************
 *
 * Dateiname:                 sabotage.js (Original Name: read-buildings.css)
 * Projekt:                   foe-chrome
 *
 * erstellt von:              Daniel Siekiera <daniel.siekiera@gmail.com>
 * erstellt am:	              27.12.19, 12:14 Uhr
 * zuletzt bearbeitet:       27.12.19, 12:14 Uhr
 *
 * Copyright © 2019
 *
 * **************************************************************************************
 */

#sabotageInfo {
	left: calc(50vw - 250px);
	top: calc(50vh - 220px);
	min-width: 550px;
	max-width: 600px;
}

#sabotageInfo #sabotageInfoBody {
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 440px;
	margin-top: 2px;
}

#sabotageInfo #sabotageInfoBody .show-entity {
	display: block;
	width: 20px;
	height: 20px;
}

#sabotageInfo #sabotageInfoBody p.header .player-name {
	display: block;
	white-space: nowrap;
	color: var(--text-bright);
	margin: 0 10px;
}

#sabotageInfo #sabotageInfoBody .army, #sabotageInfo #sabotageInfoBody .army-boost, #sabotageInfo #sabotageInfoBody .production-headline {
	color: var(--text-bright);
}

#sabotageInfo #sabotageInfoBody .foe-table td {
	white-space: nowrap;
}

#sabotageInfo #sabotageInfoBody tr.bg-red {
	background-color: rgba(121, 8, 8, 0.3);
}

#sabotageInfo #sabotageInfoBody p.error,
#sabotageInfo #sabotageInfoBody p .error,
#sabotageInfo #sabotageInfoBody td.error,
#sabotageInfo #sabotageInfoBody td .error {
	color: #ec4d4d;
}

#sabotageInfo #sabotageInfoBody p.success {
	color: var(--text-success);
}

#sabotageInfo #sabotageInfoBody #attdeftab td {
	padding-top: 0px;
	padding-left: 1px;
	padding-bottom: 0px;
}

#sabotageInfo #sabotageInfoBody .show-entity img {
	width: 20px;
	height: 20px;
}

#sabotageInfo #sabotageInfoBody table tr td:first-child {
	white-space: nowrap;
}

#sabotageInfo .btn-default {
	padding: 0.2rem 0.4rem;
}